<?xml version="1.0" encoding="UTF-8"?>
<Forms>
    <Form Name="CatalogSettings" Class="Window" Template="Default" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="0" RAnchorOffset="400" BAnchorPoint="0" BAnchorOffset="300" RelativeToClient="0" Font="Thick" TooltipType="OnCursor" Picture="1" SwallowMouseClicks="1" Overlapped="0" BGColor="ffffffff" TextColor="ffffffff" TooltipColor="" Tooltip="" Text="">
        <Control Name="Background" Class="Window" Template="Default" LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0" RelativeToClient="0" TooltipType="OnCursor" IgnoreMouse="1" Picture="1" Sprite="ActionSetBuilder_TEMP:spr_TEMP_ActionSetBigBG" BGColor="ffffffff" TextColor="ffffffff" TooltipColor=""/>
        <Control Class="Button" Base="BK3:btnMetal_Dropdown" Font="CRB_HeaderMedium_O" ButtonType="Check" RadioGroup="" LAnchorPoint="0" LAnchorOffset="60" TAnchorPoint="0" TAnchorOffset="55" RAnchorPoint="1" RAnchorOffset="-53" BAnchorPoint="0" BAnchorOffset="95" DT_VCENTER="1" DT_CENTER="1" BGColor="white" TextColor="white" NormalTextColor="UI_BtnTextGoldListNormal" PressedTextColor="UI_BtnTextGoldListPressed" FlybyTextColor="UI_BtnTextGoldListFlyBy" PressedFlybyTextColor="UI_BtnTextGoldListPressedFlyBy" DisabledTextColor="UI_BtnTextGoldListDisabled" TooltipType="OnCursor" Name="LocaleButton" TooltipColor="" Text="" TextId="Launcher_English" Template="CRB_Default" Tooltip="">
            <Event Name="ButtonCheck" Function="OnLocaleListOpen"/>
            <Event Name="ButtonUncheck" Function="OnLocaleListClose"/>
        </Control>
        <Control Name="LockedButton" Class="Button" Base="CRB_Basekit:kitBtn_List_MetalNoEdge" LAnchorPoint="0" LAnchorOffset="60" TAnchorPoint="0" TAnchorOffset="175" RAnchorPoint="1" RAnchorOffset="-53" BAnchorPoint="0" BAnchorOffset="215" RelativeToClient="0" DrawAsCheckbox="0" TooltipType="OnCursor" DT_VCENTER="1" Font="CRB_Button" ButtonType="Check" BGColor="white" TextColor="white" TooltipColor="" NormalTextColor="UI_BtnTextGoldListNormal" PressedTextColor="UI_BtnTextGoldListPressed" FlybyTextColor="UI_BtnTextGoldListFlyBy" PressedFlybyTextColor="UI_BtnTextGoldListPressedFlyBy" DisabledTextColor="UI_BtnTextGoldListDisabled" Text="Lock Window" TextId="" DT_CENTER="1">
            <Event Name="ButtonCheck" Function="OnToggleLocked"/>
            <Event Name="ButtonUncheck" Function="OnToggleLocked"/>
        </Control>
        <Control Name="LocaleList" Class="Window" Template="Default" LAnchorPoint="0" LAnchorOffset="60" TAnchorPoint="0" TAnchorOffset="92" RAnchorPoint="1" RAnchorOffset="-53" BAnchorPoint="0" BAnchorOffset="220" RelativeToClient="0" TooltipType="OnCursor" Overlapping="1" IgnoreMouse="1" Picture="1" Border="0" UseTemplateBG="0" BGColor="white" TextColor="white" TooltipColor="" CloseOnExternalClick="0" Overlapped="0" Visible="0" HideInEditor="1" Text="" Tooltip="" Sprite="BK3:sprMetal_ExpandMenu_MedSmall_Framing" NoClip="0" Font="Default" NewWindowDepth="1">
            <Pixie LAnchorPoint="0" LAnchorOffset="5" TAnchorPoint="0" TAnchorOffset="5" RAnchorPoint="1" RAnchorOffset="-5" BAnchorPoint="1" BAnchorOffset="-4" Sprite="CRB_Basekit:kitBase_MetalGrey_Small" BGColor="white" TextColor="black" Rotation="0" Font="Default" Text=""/>
            <Control Name="EnglishButton" Class="Button" Base="CRB_Basekit:kitBtn_List_MetalContextMenu" LAnchorPoint="0" LAnchorOffset="4" TAnchorPoint="0" TAnchorOffset="4" RAnchorPoint="1" RAnchorOffset="-4" BAnchorPoint="0" BAnchorOffset="44" RelativeToClient="0" DrawAsCheckbox="0" TooltipType="OnCursor" DT_VCENTER="1" Font="Default" ButtonType="Check" GlobalRadioGroup="CatalogLocale" BGColor="white" TextColor="white" TooltipColor="" NormalTextColor="UI_BtnTextGoldListNormal" PressedTextColor="UI_BtnTextGoldListPressed" FlybyTextColor="UI_BtnTextGoldListFlyBy" PressedFlybyTextColor="UI_BtnTextGoldListPressedFlyBy" DisabledTextColor="UI_BtnTextGoldListDisabled" RadioDisallowNonSelection="1" Text="" TextId="Launcher_English" DT_CENTER="1" NewWindowDepth="1">
                <Event Name="ButtonCheck" Function="OnChangeLocale"/>
            </Control>
            <Control Name="FrenchButton" Class="Button" Base="CRB_Basekit:kitBtn_List_MetalContextMenu" LAnchorPoint="0" LAnchorOffset="4" TAnchorPoint="0" TAnchorOffset="44" RAnchorPoint="1" RAnchorOffset="-4" BAnchorPoint="0" BAnchorOffset="84" RelativeToClient="0" DrawAsCheckbox="0" TooltipType="OnCursor" DT_VCENTER="1" Font="Default" ButtonType="Check" GlobalRadioGroup="CatalogLocale" BGColor="white" TextColor="white" TooltipColor="" NormalTextColor="UI_BtnTextGoldListNormal" PressedTextColor="UI_BtnTextGoldListPressed" FlybyTextColor="UI_BtnTextGoldListFlyBy" PressedFlybyTextColor="UI_BtnTextGoldListPressedFlyBy" DisabledTextColor="UI_BtnTextGoldListDisabled" DT_CENTER="1" Text="" TextId="Launcher_French" NewWindowDepth="1">
                <Event Name="ButtonCheck" Function="OnChangeLocale"/>
            </Control>
            <Control Name="GermanButton" Class="Button" Base="CRB_Basekit:kitBtn_List_MetalContextMenu" LAnchorPoint="0" LAnchorOffset="4" TAnchorPoint="0" TAnchorOffset="84" RAnchorPoint="1" RAnchorOffset="-4" BAnchorPoint="0" BAnchorOffset="124" RelativeToClient="0" DrawAsCheckbox="0" TooltipType="OnCursor" DT_VCENTER="1" Font="Default" ButtonType="Check" GlobalRadioGroup="CatalogLocale" BGColor="ffffffff" TextColor="ffffffff" TooltipColor="" NormalTextColor="UI_BtnTextGoldListNormal" PressedTextColor="UI_BtnTextGoldListPressed" FlybyTextColor="UI_BtnTextGoldListFlyBy" PressedFlybyTextColor="UI_BtnTextGoldListPressedFlyBy" DisabledTextColor="UI_BtnTextGoldListDisabled" Text="" TextId="Launcher_German" DT_CENTER="1" NewWindowDepth="1">
                <Event Name="ButtonCheck" Function="OnChangeLocale"/>
            </Control>
        </Control>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="63" TAnchorPoint="0" TAnchorOffset="110" RAnchorPoint="1" RAnchorOffset="-53" BAnchorPoint="0" BAnchorOffset="140" RelativeToClient="1" Font="CRB_InterfaceLarge_BO" Text="" BGColor="white" TextColor="UI_BtnTextGoldListNormal" Template="Default" TooltipType="OnCursor" Name="ScaleText" TooltipColor="" TextId="CRB_Scale" DT_RIGHT="0" DT_CENTER="0" DT_VCENTER="0" DT_BOTTOM="1"/>
        <Control Class="Window" LAnchorPoint="0" LAnchorOffset="63" TAnchorPoint="0" TAnchorOffset="110" RAnchorPoint="1" RAnchorOffset="-56" BAnchorPoint="0" BAnchorOffset="140" RelativeToClient="1" Font="CRB_InterfaceLarge_BO" Text="1.0" BGColor="white" TextColor="UI_BtnTextGoldListNormal" Template="Default" TooltipType="OnCursor" Name="ScaleValueText" TooltipColor="" TextId="" DT_RIGHT="1" DT_CENTER="0" DT_VCENTER="0" DT_BOTTOM="1"/>
        <Control Class="SliderBar" LAnchorPoint="0" LAnchorOffset="60" TAnchorPoint="0" TAnchorOffset="140" RAnchorPoint="1" RAnchorOffset="-53" BAnchorPoint="0" BAnchorOffset="180" RelativeToClient="0" Font="Default" Text="" BGColor="UI_WindowBGDefault" TextColor="UI_WindowTextDefault" Template="Holo_Scrolllist_Options" TooltipType="OnCursor" Name="ScaleSlider" TooltipColor="" TextId="CRB_Scale" LeftCap="" RightCap="" Middle="" Max="1.500000" Min="0.500000" TickAmount="0.100000" InitialValue="1.000000" Tooltip="" UseTemplateBG="0" DiscreteTicks="1" UseButtons="1" DrawTicks="0" IncButton="BK3:btnHolo_Options_DragRight" DecButton="BK3:btnHolo_Options_DragLeft" InstantMouseReact="0">
            <Event Name="SliderBarChanged" Function="OnScaleChanged"/>
        </Control>
    </Form>
</Forms>
