<?xml version="1.0" encoding="UTF-8"?>
<Forms>
  <Form Name="CatalogSettings" Class="Window" Template="Default"
        LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="0" RAnchorOffset="400" BAnchorPoint="0" BAnchorOffset="300"
        RelativeToClient="1" Font="Thick" TooltipType="OnCursor" Picture="1" SwallowMouseClicks="1" Overlapped="1">
    <Control Name="Background" Class="Window" Template="Default"
             LAnchorPoint="0" LAnchorOffset="0" TAnchorPoint="0" TAnchorOffset="0" RAnchorPoint="1" RAnchorOffset="0" BAnchorPoint="1" BAnchorOffset="0"
             RelativeToClient="1" TooltipType="OnCursor" IgnoreMouse="1" Picture="1" Sprite="CRB_Basekit:kitBase_HoloBlue_Tiny"/>
    <Control Name="LocaleText" Class="Window" Template="Default"
             LAnchorPoint="0" LAnchorOffset="10" TAnchorPoint="0" TAnchorOffset="5" RAnchorPoint="1" RAnchorOffset="-10" BAnchorPoint="0" BAnchorOffset="30"
             RelativeToClient="1" Font="CRB_InterfaceMedium_BB" Text="Language:" TooltipType="OnCursor" DT_VCENTER="1"/>
    <Control Name="LocaleInfo" Class="Button" Base="CRB_DatachronSprites:btnDC_Interface"
             LAnchorPoint="0" LAnchorOffset="367" TAnchorPoint="0" TAnchorOffset="10" RAnchorPoint="1" RAnchorOffset="-5" BAnchorPoint="0" BAnchorOffset="40"
             RelativeToClient="1" Picture="1" TooltipType="OnCursor"/>
    <Control Name="LocaleEnglishText" Class="Window" Template="Default"
             LAnchorPoint="0" LAnchorOffset="40" TAnchorPoint="0" TAnchorOffset="35" RAnchorPoint="0" RAnchorOffset="95" BAnchorPoint="0" BAnchorOffset="60"
             RelativeToClient="1" Font="CRB_InterfaceTiny_BB" Text="English" TooltipType="OnCursor" DT_VCENTER="1"/>
    <Control Name="LocaleEnglishButton" Class="Button" Base="CRB_UIKitSprites:btn_radioSMALL"
             LAnchorPoint="0" LAnchorOffset="10" TAnchorPoint="0" TAnchorOffset="35" RAnchorPoint="0" RAnchorOffset="35" BAnchorPoint="0" BAnchorOffset="60"
             RelativeToClient="1" DrawAsCheckbox="1" TooltipType="OnCursor" DT_VCENTER="1" Font="CRB_InterfaceTiny_BB" ButtonType="Check" GlobalRadioGroup="CatalogLocale">
      <Event Name="ButtonCheck" Function="OnChangeLocale"/>
    </Control>
    <Control Name="LocaleFrenchText" Class="Window" Template="Default"
             LAnchorPoint="0" LAnchorOffset="130" TAnchorPoint="0" TAnchorOffset="35" RAnchorPoint="0" RAnchorOffset="195" BAnchorPoint="0" BAnchorOffset="60"
             RelativeToClient="1" Font="CRB_InterfaceTiny_BB" Text="French" TooltipType="OnCursor" DT_VCENTER="1"/>
    <Control Name="LocaleFrenchButton" Class="Button" Base="CRB_UIKitSprites:btn_radioSMALL"
             LAnchorPoint="0" LAnchorOffset="100" TAnchorPoint="0" TAnchorOffset="35" RAnchorPoint="0" RAnchorOffset="125" BAnchorPoint="0" BAnchorOffset="60"
             RelativeToClient="1" DrawAsCheckbox="1" TooltipType="OnCursor" DT_VCENTER="1" Font="CRB_InterfaceTiny_BB" ButtonType="Check" GlobalRadioGroup="CatalogLocale">
      <Event Name="ButtonCheck" Function="OnChangeLocale"/>
    </Control>
    <Control Name="LocaleGermanText" Class="Window" Template="Default"
             LAnchorPoint="0" LAnchorOffset="230" TAnchorPoint="0" TAnchorOffset="35" RAnchorPoint="0" RAnchorOffset="295" BAnchorPoint="0" BAnchorOffset="60"
             RelativeToClient="1" Font="CRB_InterfaceTiny_BB" Text="German" TooltipType="OnCursor" DT_VCENTER="1"/>
    <Control Name="LocaleGermanButton" Class="Button" Base="CRB_UIKitSprites:btn_radioSMALL"
             LAnchorPoint="0" LAnchorOffset="200" TAnchorPoint="0" TAnchorOffset="35" RAnchorPoint="0" RAnchorOffset="225" BAnchorPoint="0" BAnchorOffset="60"
             RelativeToClient="1" DrawAsCheckbox="1" TooltipType="OnCursor" DT_VCENTER="1" Font="CRB_InterfaceTiny_BB" ButtonType="Check" GlobalRadioGroup="CatalogLocale">
      <Event Name="ButtonCheck" Function="OnChangeLocale"/>
    </Control>
    <Control Name="LockedText" Class="Window" Template="Default"
             LAnchorPoint="0" LAnchorOffset="40" TAnchorPoint="0" TAnchorOffset="246" RAnchorPoint="1" RAnchorOffset="-10" BAnchorPoint="1" BAnchorOffset="-5"
             RelativeToClient="1" Font="CRB_InterfaceTiny_BB" Text="Lock window" TooltipType="OnCursor" DT_VCENTER="1"/>
    <Control Name="LockedButton" Class="Button" Base="CRB_UIKitSprites:btn_radioSMALL"
             LAnchorPoint="0" LAnchorOffset="10" TAnchorPoint="0" TAnchorOffset="250" RAnchorPoint="0" RAnchorOffset="35" BAnchorPoint="1" BAnchorOffset="-5"
             RelativeToClient="1" DrawAsCheckbox="1" TooltipType="OnCursor" DT_VCENTER="1" Font="CRB_InterfaceTiny_BB" ButtonType="Check">
      <Event Name="ButtonCheck" Function="OnToggleLocked"/>
      <Event Name="ButtonUncheck" Function="OnToggleLocked"/>
    </Control>
  </Form>
</Forms>
